/* Theme review notice CSS */
.notice.updated.theme-review-notice {
	padding-right: 40px;
}

.theme-review-notice .links {
	margin: 0.5em 0;
}

.theme-review-notice .links a {
	margin: 2px;
}

.theme-review-notice .links .dashicons {
	line-height: 30px;
}
